* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
}

h1 {
    padding: 1em 0;
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin-bottom: 1em;
}

label {
    font-size: 1.1em;
    margin-bottom: 0.5em;
}

button {
    font-size: 1.1em;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#chart-container {
    margin-top: 100px;
    width: 100%;
    height: 500px;
    /* margin: 2em auto; */
}
/* Add this to your main.css file */
.loading-animation {
    display: none;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-left-color: #007bff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%; /* Center the animation vertically */
    left: 50%; /* Center the animation horizontally */
}
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Add or modify the following CSS rules as needed */
  textarea[type="text"] {
    height: 200px;
    font-size: 18px;
    padding: 10px;
    width: 800px;
    resize: none; /* Disable resizing */
    text-align: center; /* Center text */
    margin: 0 10px; /* Add margin to the edges */
}
.form-group {
    position: relative;
}
